
@{
    ViewBag.Title = "Trang Chủ";
    Layout = null;
}
<html>
<head>
    <title>Don hang result</title>
    <script src="~/Scripts/jsapi.js"></script>
    @*<script type="text/javascript" src="https://www.google.com/jsapi"></script>*@
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                contentType: "application/json",
                url: '@Url.Action("VisuaResult","Home")',
                success: function (result) {
                    google.chart.load('current', {
                        'packages': ['corechart']
                    });
                    google.chart.setOnLoadCallback(function () {
                        drawChart(result);
                    });
                }
            });
        });
        function drawChart(result) {
            var data = new google.visualization.dataTable();
            data.addColumn("string", "Name");
            data.addColumn("datetime", "NgayGiao");
            var dataArray = [];
            $.each(result, function (i, obj) {
                dataArray.push([obj.stdName, obj.marksObtained]);
            });
            data.addRows(dataArray);

            var columnChartOptions = {
                title: "Student's Performance",
                width: 1000,
                height: 400,
                bar: { groupWidth: "20%" },
            };

            var columnChart = new google.visualization.ColumnChart(document
                .getElementById('columnchart_div'));

            columnChart.draw(data, columnChartOptions);
        }
    </script>
</head>
<body>


</body>
</html>

